$phoneHeight: 812px;
$phoneWidth: 375px;
$tabletHeight: 1080px;
$tabletWidth: 810px;
$desktopHeight: 1920px;
$desktopWidth: 1080px;

$primaryColour: rgba(255, 255, 255, 0.338);
$secondaryColour: rgb(255, 255, 255);
$secondaryColourTrans: rgba(255, 255, 255, 0.6);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/lighthouse-93488_1280.jpg') no-repeat center fixed;
    background-size: cover;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.weatherData {
    background-color: $secondaryColourTrans;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 15px;
    border: 2px solid $primaryColour;
}

a.h5 {
    border-radius: 1em;
}

.col-4 {
    position: relative;
    border: 2px solid $primaryColour;
    background-color: $primaryColour;
    padding: 8px 10px 5px 10px;
    border-radius: 5px;
    top: -5px;
}

label {
    font-weight: 600;
}

h3 {
    padding-bottom: 2%;
}

div.row {
    display: contents;
}

#airportSelect {
    text-align: center;
    width: 100%;
    height: 75%;
    margin-top: 7px;
}

select option {
    text-align: center;
}

#locationCurrent {
    padding-top: 10%;
    text-align: center;
}

#background-banner {
    background-color: $secondaryColourTrans;
    z-index: -1;
    border-bottom: 1px solid $primaryColour;
    width: 100%;
    height: 3.5em;
}

#location {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    background-color: $secondaryColourTrans;
    border: 2px solid $primaryColour;
    border-radius: 25px;
}

#forecast {
    display: inline-flex;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 5%;
    border-radius: 25px;

}

#weather {
    margin-top: 30%;
    margin-bottom: 20%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (min-width: 850px) {
    body {
        background: url('../img/tobias-keller-73F4pKoUkM0-unsplash.jpg') no-repeat center fixed;
        background-size: cover;
    }
}