$phoneHeight: 812px;
$phoneWidth: 375px;
$tabletHeight: 1080px;
$tabletWidth: 810px;
$desktopHeight: 1920px;
$desktopWidth: 1080px;

$primaryColour: rgba(255, 255, 255, 0.338);
$secondaryColour: rgb(255, 255, 255);
$secondaryColourTrans: rgba(255, 255, 255, 0.382);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/lighthouse-93488_1280.jpg') no-repeat center fixed;
    background-size: cover;
}

#weather-data {
    background-color: $secondaryColourTrans;
    margin-left: 45px;
    margin-right: 5px;
    border-radius: 15px;
    border: 2px solid $primaryColour;
}

a.h5 {
    border-radius: 1em;
}

div.row {
    display: contents;
}

label {
    margin-bottom: 20px;
    font-weight: 600;

}

#airportSelect {
    text-align: center;
    width: 100%;
    height: 75%;
    margin-top: 7px;
}

select option {
    text-align: center;
}

#locationCurrent {
    padding-top: 10%;
    text-align: center;
}

#background-banner {
    position: length;
    top: 0px;
    background-color: $secondaryColourTrans;
    z-index: -1;
    border-bottom: 1px solid $primaryColour;
    width: 100%;
    height: 3.5em;
}

#location {
    margin-left: 45px;
    margin-right: 5px;
    margin-bottom: 55px;
    text-align: center;
    background-color: $secondaryColourTrans;
    border: 2px solid $primaryColour;
    border-radius: 25px;
}

#location2 {
    @extend #location;
}

#location3 {
    @extend #location;
}

#weather-data2 {
    @extend #weather-data
;
}

#weather-data3 {
    @extend #weather-data
;
}

#weather-panel-top {
    display: flex;
}

#weather-panel-bottom {
    display: flex;
}

#forecast {
    display: inline-flex;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
    padding-bottom: 5%;
    border-radius: 25px;

}

.dyn-weather {
    margin-top: 0;
    margin-bottom: 15px;
}

@media screen and (min-width: 500px) {
    body {
        background: url('../img/tobias-keller-73F4pKoUkM0-unsplash.jpg') no-repeat center fixed;
        background-size: cover;
    }
}

@media screen and (min-width: 0px ) and (max-width: 500px){
    #background-banner {
        position: fixed;
        z-index: -1;
        top: 0;
    }

    #location {
        position: static;
        margin-right: 45px;
        margin-top: 70px;
        width: 110%;
    }

    #weather-panel-bottom {
        position: fixed;
        right: 17px;
    }

    #forecast {
        width: 100%;
        padding-bottom: 0;
    }

    div label, div h4 {
        margin-bottom: 1px;
        // font-weight: 500;
    }
}

@media screen and (min-width: 800px) {

    #background-banner {
        border-bottom: 0px rgba(255, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        margin-left: 100px;
        margin-bottom: 30px;
        width: 25%;
    }

    #location {
        width: 30%;
    }
    
    #weather-data {
        width: 30%;
    }
}
